<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register the user</title>
</head>
<body>
<h2>Registration</h2>
<form method="post" action="register">
    {% csrf_token %}
    <input type="text" name="username" placeholder="enter the username"><br>
    <input type="password" name="password" placeholder="enter the password"><br>
    <input type="password" name="password1" placeholder="confirm the password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h6>{{msg}}</h6>
{% endfor %}
</body>
</html>